/*Start - css/audiencia-publica.css*/
.audiencia-publica{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
padding-top:1vw;
padding-bottom:2vw;
}
.audiencia-publica-campo{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
}
.audiencia-publica-titulo{
width: 100%;
height: 3.3vw;
background-color: var(--cinza222);
float: left;
margin-top: 0vw;
margin-bottom: 1vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight: 700;
font-size: 1vw;
line-height: 1.1vw;
color: var(--fonte);
text-align: left;
letter-spacing: 0vw;
display: table;
position: relative;
padding:0.3vw;
border-radius:0.3vw;
border: 0.1vw solid var(--cinza205);
}
.audiencia-publica-titulo span{
width:100%;
height:100%;
display:block;
display: table-cell;
vertical-align: middle;
}
.audiencia-publica-realce{
font-weight:600;
color:var(--padrao05);
}
.audiencia-publica-linha{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:1vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.audiencia-publica-descricao{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:400;
font-size:0.8vw;
line-height:1.2vw;
color:var(--fonte);
text-align: justify;
letter-spacing:0vw;
padding-left: 0.5%;
padding-right: 0.5%;
}
.audiencia-publica-descricao a{
color:var(--padrao05);
font-weight:600;
}
.audiencia-publica-descricao p{
margin:0vw;
margin-bottom:1vw;
}
/*End - css/audiencia-publica.css*/
