/*Start - css/dengue.css*/
.dengue{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
padding-bottom:2vw;
}
.dengue-txt{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.dengue-grid{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.dengue-data{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:1vw;
margin-bottom:1vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:700;
font-size:1vw;
line-height:1.3vw;
color:inherit;
text-align: left;
letter-spacing:0vw;
}
.dengue-linha{
width:100%;
height:auto;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.dengue-celula{
width:33.33%;
height:5vw;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
margin-left:0vw;
margin-right:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
padding:0.5vw;
}
.dengue-item{
width:100%;
height:100%;
background-color:var(--cinza120);
float:left;
margin-top:0vw;
margin-bottom:0vw;
margin-left:0vw;
margin-right:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius:0.3vw;
}
.dengue-icone{
width:3vw;
height:3vw;
border-radius:3vw;
background-color:var(--branco_lente02);
float:left;
margin:0.5vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
text-align:center;
color:white;
}
.dengue-icone span{
font-size:2vw;
line-height:3vw;
}
.dengue-nome{
width:9vw;
height:100%;
line-height:4vw;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
margin-left:0vw;
margin-right:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:600;
font-size:inherit;
color:white;
text-align: left;
letter-spacing:0vw;
}
.dengue-valor{
width:5vw;
height:100%;
line-height:4vw;
background-color:var(--teste00);
float:left;
margin-top:0vw;
margin-bottom:0vw;
margin-left:0vw;
margin-right:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
font-weight:700;
font-size:1.5vw;
color:white;
text-align: right;
letter-spacing:0vw;
}
.dengue-item.verde{
background-color:var(--verde);
}
.dengue-item.preto{
background-color:black;
}
.dengue-item.amarelo{
background-color:var(--amarelo);
}
.dengue-item.vermelho{
background-color:var(--vermelho);
}
.dengue-item.laranja{
background-color:var(--laranja);
}
/*End - css/dengue.css*/