/*Start - css/drag-and-drop.css*/
.drag_drop_item{
width:10vw;
height:auto;
background-color:var(--preto_fundo);
float:left;
margin-top:0vw;
margin-left:1vw;
margin-bottom:0vw;
margin-right:1vw;
overflow:hidden;
border-radius:0.3vw;
}
.drag_drop_item_txt{
width:100%;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-top:0vw;
font-weight:400;
font-size:1vw;
line-height:2vw;
color:white;
text-align: center;
letter-spacing:0vw;
}
.drag_drop_thumb_txt{
width:100%;
height:auto;
background-color:rgba(245,245,245,1);
float:left;
margin-top:0vw;
font-weight:400;
font-size:0.8vw;
line-height:0.9vw;
color:black;
text-align: center;
letter-spacing:0vw;
padding:0.5vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.drag_drop_thumb_img{
width:7vw;
height:7vw;
background-color:var(--cinza);
margin:0 auto;
margin-top:0vw;
padding:0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius:0.3vw;
background-repeat:no-repeat;
background-position:center center;
background-size:contain;
}
.drag_drop_alvo{
width:10vw;
height:10vw;
line-height:10vw;
background-color:var(--cinza);
float:left;
margin-left:1vw;
margin-right:1vw;
overflow:hidden;
border-radius:0.3vw;
font-weight:600;
font-size:1vw;
color:var(--preto03);
text-align: center;
letter-spacing:0vw;
position:relative;
}
.drag_drop_input{
width:3vw;
height:3vw;
background-color:var(--preto_fundo);
float:left;
margin-right:1vw;
font-weight:400;
font-size:1vw;
line-height:3vw;
color:inherit;
text-align: left;
letter-spacing:0vw;
}
.drag_drop_item_in{
position:absolute;
top:0vw;
left:0vw;
width:10vw;
height:auto;
background-color:var(--preto_fundo);
float:left;
margin-top:0vw;
margin-left:0vw;
margin-bottom:0vw;
margin-right:0vw;
overflow:hidden;
border-radius:0.3vw;
}
.enter{
background-color:rgba(150,150,160,1);
border:0.2vw dashed red;
}
.drag_drop_btn_on{
width:auto;
height:auto;
background-color:var(--azul);
padding-left: 2vw;
padding-right: 2vw;
border-radius: 0.5vw;
line-height: 3vw;
border: 0.1vw solid var(--azul);
cursor: pointer;
float: right;
text-align: center;
margin-right: 2vw;
color:var(--branco02);
}
.drag_drop_btn_off{
width:auto;
height:auto;
background-color:var(--teste00);
padding-left: 2vw;
padding-right: 2vw;
border-radius: 0.5vw;
line-height: 3vw;
border: 0.1vw solid var(--teste00);
cursor: pointer;
float: left;
text-align: center;
margin-right: 2vw;
color:var(--branco02);
}
/*End - css/drag-and-drop.css*/