/*Start - css/tail-select.css*/
.tail-select{
width:100% !important;
height:2vw;
max-height:unset;
margin:0vw;
font-weight:inherit;
font-size:inherit;
line-height:inherit;
color:inherit;
text-align: inherit;
letter-spacing:inherit;
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.tail-select .select-label{
width:100%;
height:2vw;
max-height:unset;
line-height:2vw;
padding:0vw;
font-size:0.8vw;
font-family:"Segoe UI";
color:var(--fonte_padrao);
background-color:var(--teste00);
border-radius: 0vw;
box-sizing: border-box;
-webkit-box-sizing: border-box;
box-shadow: 0vw 0vw 0vw rgba(0,0,0,0);
border: 0.1vw solid var(--fundo_03);
padding-left:0.5vw;
}
.tail-select .select-label:after{
top:0.9vw;
right: 1.5vw;
width: 0;
height: 0;
margin: 0;
padding: 0;
z-index: 25;
content: "";
opacity: 0.5;
display: inline-block;
position: absolute;
border-top: 5px dashed;
border-top: 5px solid\9;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
text-shadow: none;
transition: opacity 142ms linear, transform 142ms linear;
-webkit-transition: opacity 142ms linear, transform 142ms linear;
}
.tail-select .label-inner{
height:100%;
}
.tail-select .select-dropdown .dropdown-inner{
max-height:14vw !important;
}
.tail-select .select-label:before{
border:0vw;
}
.tail-select.active .select-label::before {
opacity: 1;
border-color:var(--teste00);
background-color:var(--teste00);
}
.tail-select.active .select-label::after {
border-top-color: var(--fonte_padrao);
}
/*End - css/tail-select.css*/